<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>JJ Lab Website</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Some of Test Data</h1> 

<form action="/array" method="get" id="form1">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
</form>
<td><button type="submit" form="form1" value="Submit">Submit</button></td>

    <table  style="border:3px #FFAC55 solid;padding:5px;" rules="all" cellpadding='5';>

      <tr>
        <td>FirstName</td>
        <td>SecondName</td>
        <td>Delete</td>
      </tr>
    {{ range .values }}
      <tr>
        <td>{{ .Value1 }}</td>
        <td> {{ .Value2 }} </td>
        <td><button type="submit" form="form1" value="Submit">Submit</button></td>
      </tr>
    {{ end }}
    </table>

    </body>
</html>
